av
mediapipe
opencv_python_headless
streamlit
streamlit_webrtc
tensorflow
watchdog
twilio
streamlit-player
face_recognition
ipywidgets
deepface
face-recognition
face-recognition-models
spotipy
pydub
streamlit_player
opencv-contrib-python
opencv-python

